*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family:'Poppins';
}

main{
    background-image: url('image/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 20px 15px;

}

.navbar-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.nav-link a{
    color: azure;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.nav-link{
    list-style-type: none;
}

.navbar-toggler{
    background:none;
    border: none;
    color: aqua;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.nav-btn{
    border: 2px solid cornflowerblue;
    background-color: blueviolet;
    padding: 10px;
    transition: background-color 1s ease;
}

.nav-btn:hover{
    background-color: aquamarine;
}

#hero-text h1{
    font-size: 3rem;
    line-height: 1.2;
    color: burlywood;
    margin-bottom: 1.5rem;
}

#hero-text{
    text-align: center;

}



.btn{
    color: cornsilk;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 18px;
    display: inline-block;
    border: 2px palevioletred;
    background: none;
    font-weight: 600;
    transition: 0.5s ease background-color;
}

.btn:hover{
    background-color: hotpink;

}

.contact-btn{
    background-color: hotpink;
}

.contact-btn:hover{
    background: none;
}
.container{
    max-width:  1000px;
    margin: 0 auto;
}

.destinations{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 16px;
    padding: 16px;
}

.destinatons article{
    background-color: lightcyan;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    transition: transform 0.5s ease;
}


.destinations article img{
    width:100%;
    height: 300px;
    object-fit:cover;
    display:block;
    overflow: hidden;
}

.destinations article:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.destinations article p{
    margin: 0;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: blueviolet;
}

.districts{
    margin-bottom: 20px;
}
footer{
    text-align: center;
    margin: 10px 0;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: cornflowerblue 0px 5px 15px;
    margin: 10px auto;
}

form input{
    padding: 10px 50px 10px 10px;
    width: 100%;
}

.submit{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: blueviolet;
    border: none;
    color: azure;
}
@media (max-width:720px){
    .districts{
        text-align: center;
    }
   }